In [5]:
#for loop 
#example1
count = [10,20,30,40,50]
for num in count:
    print(num / 10)

1.0
2.0
3.0
4.0
5.0

In [9]:
#example 2
for num in range(5):
    if num >= 0:
        print(num * 10)

0
10
20
30
40

In [13]:
#While Loop
#Example1
count = 1
while count <= 5:
    print(count)
    count += 1

1
2
3
4
5

In [19]:
#example of break statement
entry = 0
sum1 = 0
print("Enter number to find their sum, negative number end the loop")
while True:
    entry = int(input())
    if entry < 0:
        break
    sum1 += entry
print("Sum =", sum1)

Enter number to find their sum, negative number end the loop
1
-2
Sum = 1

In [27]:
#example of Continue statement
num = 0
for num in range(6):
    num += 1
    if num == 3:
        continue
    print("Num has value " + str(num))
print("End of Loop")

Num has value 1
Num has value 2
Num has value 4
Num has value 5
Num has value 6
End of Loop

In [30]:
# nested loops 
for var1 in range(3):
    print("Iteration" + str(var1 + 1) + "of outer loop")
    for var2 in range(2):
        print(var2 + 1)
    print("out of the inner loop")
print("Out of th outer loop")

Iteration1of outer loop
1
2
out of the inner loop
Iteration2of outer loop
1
2
out of the inner loop
Iteration3of outer loop
1
2
out of the inner loop
Out of th outer loop