In [1]:
str = input("Enter your state of Origin:")

print("Ypur state of origin is:", str)
print("the first Letter",str[0])
print("the character strating from the 3rd to 5th are", str[2:6])
print("the string strating from the 3rd character", str[2:])
print("State of origin two times", str * 2)

Enter your state of Origin:bddd
Ypur state of origin is: bddd
the first Letter b
the character strating from the 3rd to 5th are dd
the string strating from the 3rd character dd
State of origin two times bdddbddd

In [3]:
#input from user 
m = float(input("Enter a mass in kg"))

#constant value for speed of light in m/s
c = 2994321234

#calculate the energy 
energy = m * c ** 2

#displaying the results 
print(f"the energy of {m}kg is {energy}J")

Enter a decimal bro23.4
the energy of 23.4kg is 2.098034558657688e+20J

In [5]:
list = ['Anoconda', 783, 2.23, 'Jupyter', 80.3]
shortlist = [323, 'Phython']

print(list)       
print(list[0])
print(list[1:3])
print(list[2:])
print(shortlist * 2)
print( list + shortlist)

['Anoconda', 783, 2.23, 'Jupyter', 80.3]
Anoconda
[783, 2.23]
[2.23, 'Jupyter', 80.3]
[323, 'Phython', 323, 'Phython']
['Anoconda', 783, 2.23, 'Jupyter', 80.3, 323, 'Phython']

In [8]:
tuple = ("ekiti", 233, "Ikotun", 259, "akure", 500)
s_turple = ("Adeolu", 300, "Dumade")

#Print the complete turple
print(tuple)
#Print the elements in the tuple
print(tuple[-1])
#Print the elements of the tuple starting from 2nd to 3rd
print(tuple[2:4])
#Print the elements of the tuple starting from 3rd
print(tuple[3:])
#print tuplke twice
print(s_turple * 3)
#print concatenated tuple
print (tuple + s_turple)

('ekiti', 233, 'Ikotun', 259, 'akure', 500)
500
('Ikotun', 259)
(259, 'akure', 500)
('Adeolu', 300, 'Dumade', 'Adeolu', 300, 'Dumade', 'Adeolu', 300, 'Dumade')
('ekiti', 233, 'Ikotun', 259, 'akure', 500, 'Adeolu', 300, 'Dumade')

In [10]:
#return faalse as game_1 is not equal to game_2
game_1 = 2
game_2 = 4
print(bool(game_1 == game_2))
#or
print(game_1 == game_2)

#return false as val is None
val = None
print(bool(val))
#return false as num is an empty sequence
num = ()
print(bool(num))
#return true as age is boolean
age = True 
print(bool(age))

False
False
False
False
True

In [11]:
#convert to int

grade = int(70)
gpa =int(4.9)
cgpa = int("4")

print(f"Grade = {grade}")
print(f"GPA = {gpa}")
print(f"CGPA = {cgpa}")

Grade = 70
GPA = 4
CGPA = 4

In [12]:
#convert to flaot

grade = float(97)
gpa = float(5)
cgpa = float('4.7')

print(f"Grade {grade}")
print(f"GPA {gpa}")
print(f"cgpa {cgpa}")

Grade 97.0
GPA 5.0
cgpa 4.7