In [23]:
#### project 1
import pandas as pd 
basit = {
    
}
val = 1
while val < 3:
    print("student " ,val)
    name = str(input("Enter your name: "))
    arr_name = []
    arr_name.append(name)
    basit["name"] = arr_name
    mat_num = int(input("Enter your Matric Number: "))
    arr_mat_num = []
    arr_mat_num.append(mat_num)
    basit["Matric"] = arr_mat_num
    dept = str(input("Enter your Department: "))
    arr_dept = []
    arr_dept.append(dept)
    basit["Department"] = arr_dept
    level = int(input("Enter your Level: "))
    arr_level = []
    arr_level.append(level)
    basit["Level"] = arr_level
    val += 1

print(basit)
df = pd.DataFrame(basit)
df.to_csv('sims.csv')
df
#arr.append("soup")

student  1
Enter your name: basit
Enter your Matric Number: 232323222
Enter your Department: comp
Enter your Level: 100
student  2
Enter your name: dave
Enter your Matric Number: 49949949494949
Enter your Department: mech
Enter your Level: 200
{'name': ['dave'], 'Matric': [49949949494949], 'Department': ['mech'], 'Level': [200]}

   name          Matric Department  Level
0  dave  49949949494949       mech    200

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'green'}