In [2]:
#import pandas as pd
import pandas as pd
#list of strings 
lyst = ['csc', '102', 'is','the', 'best', 'courese', 'ever']
df = pd.DataFrame(lyst)
df

         0
0      csc
1      102
2       is
3      the
4     best
5  courese
6     ever